/* Styling for the Admin Dashboard */

.jomhuria-regular {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-container {
    width: 100%;
    max-width: 900px;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: "Jomhuria", serif;
    font-weight: lighter;
    font-size: 08em;
}

p {
    margin-top: 10px;
    font-family: "Jomhuria", serif;
    font-weight: lighter;
    font-size: 2.5em;
    line-height: 0.7;
    word-spacing: 5px;
}

.button-group {
    display: flex;
    justify-content:center;
    gap: 75px;
}

.admin-btn {
    width: 30%;
    transform: scale(1.2);
    padding: 12px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.admin-btn:hover {
    background-color: #404040;
    color: aquamarine;
    transform: scale(1.1);
}

.admin-btn:active {
    transform: scale(1.05);
}
